@charset "UTF-8";

/* すべてのWebページに適用される */

html {
  font-family: Verdana, sans-serif
}

body {
  margin: 0;
}

h2 {
  margin-bottom: 8px;
  border-bottom: 3px dotted #3f5170;
}

h3 {
  margin: 0px 8px 8px 8px;
} 

p {
  margin: 0px 8px 0px 8px;
}

p + p {
  margin-top: 8px;
}

.container {
  width: calc(100% - 32px);
  margin: 0 auto;
  outline: 2px solid red;
}

/* すべてのページに適用 - ヘッダー - */
.headline h1 {
  margin: 0;
  line-height: 56px;
}

.head {
  display: flex;
}

.close_icon {
  padding: 16px;
}

.sp_menu {
  margin-left: auto;
}

.sp_menu #open_menu {
  font-size: 32px;
  line-height: 56px;
  cursor: pointer;
}

.sp_menu #open_menu.hide {
  display: none;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.95);
  text-align: center;
  padding: 64px;
  opacity: 0;
  pointer-events: none;
  transition: opacity .6s;
}

.overlay.show {
  opacity: 1;
  pointer-events: auto;
}

.overlay #close_menu {
  position: absolute;
  top: 16px;
  right: 16px;
  font-size: 32px;
  cursor: pointer;
}

.overlay ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.overlay li {
  margin-top: 24px;
  opacity: 0;
  transform: translateY(16px);
  transition: opacity .3s, transform .3s;
}

.overlay.show li {
  opacity: 1;
  transform: none;
}

.overlay.show li:nth-child(1) {
  transition-delay: .1s;
}

.overlay.show li:nth-child(2) {
  transition-delay: .2s;
}

.overlay.show li:nth-child(3) {
  transition-delay: .3s;
}

.overlay.show li:nth-child(4) {
  transition-delay: .4s;
}

.overlay.show li:nth-child(5) {
  transition-delay: .5s;
}

.nav2 li {
  font-size: 18px;
}

.nav1 {
  display: none;  
}

.nav1 li {
  display: inline-block;
  font-size: 18px;
}

.nav1 a {
  text-decoration: none;
}

.nav1 li + li {
  margin-left: 32px;
}

.nav1 ul {
  text-align: center;
}

.nav1 a:hover {
  opacity: 0.8;
}

nav li a span {
  line-height: 1;
  font-size: 12px;
  display: block;
}

/* すべてのページに適用 - フッター - */
footer {
  margin-top: 32px;
  text-align: center;
}

/* ホーム - メイン - */
main h2 {
  margin: 8px;
}

.center {
  text-align: center;
}

.center img {
  vertical-align: bottom;
}

main h2 span {
  line-height: 1;
  font-size: 12px;
  display: block;
}

#open,#close {
  cursor: pointer;
  width: 200px;
  border: 1px solid #ccc;
  border-radius: 4px;
  text-align: center;
  padding: 12px 0;
  margin: 16px auto 0;
}

#mask {
  background: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

#modal {
  background: #fff;
  width: 300px;
  padding: 20px;
  border-radius: 4px;
  position: absolute;
  top: 400px;
  left: 0;
  right: 0;
  margin: 0 auto;
  transition: transform 0.4s;
}

#modal > p {
  margin: 0 0 20px;
  text-align: center;
}

#mask.hidden {
  display: none;
}

#modal.hidden {
  transform: translate(0, -600px);
}

/* information - メイン - */
.information {
  display: flex;
}

.shadow {
  box-shadow: 3px 3px 5px #000;
}

.description {
  margin-left: 16px;
  align-self: center;
  flex: 1;
}

.description h2 h3 {
  margin-bottom: 32px;
}

.info {
  border-collapse: collapse;
  margin-left: 8px;
}

.info th, .info td {
  padding: 8px;
  border: 1px solid #bec2c7;
}

.info th {
  background-color: #dde2ea;
  width: 90px;
}

.info td {
  background-color: #eeece9;
}

.message {
  font-size: 18px;
  border-bottom: 1px solid;
  margin-bottom: 16px;
  padding: 8px 16px; 
}

dl > div {
  margin-bottom: 8px;
}

dt {
  padding: 8px;
  cursor: pointer;
  user-select: none;
  position: relative;
}

dt::before {
  content: 'Q. ';
}

dt::after {
  content: '+';
  position: absolute;
  top: 8px;
  right: 16px;
}

dl > div.appear dt::after {
  transform: rotate(45deg);
}

dd {
  padding: 8px;
  margin: 0;
  display: none;
}

dd::before {
  content: 'A. ';
}

dl > div.appear dd {
  display: block;
}


/* commodity - メイン - */
.link img {
  width: 100%;
  height: auto;
  border-radius: 10px 10px 0 0;
  vertical-align: bottom;
}

.link a:link {
  color: #fff;
  text-decoration: none;
}

.link a:hover {
  opacity: 0.8;
}

.link span {
  background-color: #79420d;
  display: block;
  width: 550;
  text-align: center;
  border-radius: 0 0 10px 10px;
  padding: 6px 0;
}

.syouhin {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.syouhin p {
  width: 47%;
  outline: 2px solid blue;
  margin: 8px;
}

/* access - メイン - */

.access {
  text-align: center;
}

.access img {
  vertical-align: bottom;
}


/* contact - メイン - */
fieldset {
  border: 1px solid #79420d;
  border-radius: 10px;
  padding: 20px 20px 10px;
  margin-bottom: 30px;
}

fieldset div {
  margin: 0px 8px 0px;
}

legend {
  font-weight: bold;
  font-size: 18px;
  color: #79420d;
}

form p {
  margin-bottom: 15px;
}

sup {
  color: #900;
  font-size: 10px;
}

.itemName {
  font-weight: bold;
}

/* フォームの入力欄 */
input,textarea,select {
  font-family: inherit;
  padding: 5px;
  font-size: 14px;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus,
input[type="number"]:focus,
textarea:focus {
  outline: none;
  box-shadow: 0 0 7px #900;
  border: 1px solid #600;
}

input[type="submit"] {
  background-color: #79420d;
  color: #fff;
  padding: 15px 40px;
  font-weight: bold;
  font-size: 18px;
  border: none;
  border-radius: 5px;
}

input[type="submit"]:hover {
  background-color: #c29b28;
}


/* medium screen */
@media (min-width:600px) {
  body {
    background: pink;
  }

  .nav1 {
    display: block;
  }

  .sp_menu {
    display: none;
  }
}

/* large screen */
@media (min-width:800px) {
  body {
    background: skyblue;
  }

  .container {
    width: calc(100% - 32px);
    margin: 0 auto;
    max-width: 800px;
  }
}


